.green {
  $green01: #f5faf5;
  $green02: #a6ffbe;
  $green03: #87fb9f;
  $green04: #69dd81;
  $green05: #4abe62;
  $green06: #2b9f43;
  $green07: #14882c;
  $green08: #0d8125;
  $green09: #006206;
  $green10: #004400;
  $green11: #002500;
  $green12: #000600;
}

.green2 {
  $green05: #003d00;
  $green04: #006509;
  $green03: #198d31;
  $green02: #41b559;
  $green01: #69dd81;
}
