.rainbow {
  color01: #c42c18;
  color02: #ea6e17;
  color03: #ebb015;
  color04: #ada515;
  color05: #587116;
  color06: #1a6b38;
  color07: #11618c;
  color08: #1f3a9d;
  color09: #3a2581;
  color10: #5e1d6f;
  color11: #eeecf9;
  color12: #eeecf9;
}

root {
  --background_2: #cbad15;
  --backgroundHover_3: #ebae14;
  --backgroundPress_4: #aca515;
  --backgroundFocus_4: #aca515;
  --borderColorHover_5: #576f16;
  --borderColor_6: #1a6b38;
  --borderColorFocus_6: #1a6b38;
  --borderColorPress_8: #11628d;
  --placeholderColor: #174e96;
  --colorFocus_9: #3b2682;
  --colorHover_9: #3b2682;
  --color_10: #5d1c6d;
  --colorPress_10: #5d1c6d;
  --outlineColor_10: #5d1c6d;
}

root {
  --color_12: #eeecf9;
  --colorHover_12: #eeecf9;
  --colorPress_12: #eeecf9;
  --colorFocus_12: #eeecf9;
  --placeholderColor: #3b2682;
  --outlineColor: #eeecf9;
  --background: #aca515;
  --backgroundHover: #ebae14;
  --backgroundPress: #576f16;
  --backgroundFocus: #576f16;
  --borderColor: #11628d;
  --borderColorHover: #1a6b38;
  --borderColorFocus: #11628d;
  --borderColorPress_8: #1f3b9e;
}
